// Greyscale
$col_1000: #fff;
$col_1100: #fbfbfb;
$col_1200: #ececec;
$col_1300: #e0e0e0;
$col_1400: #ccc;
$col_1500: #999;
$col_1600: #444;
$col_1700: #222;
$col_1900: #000;

$col_1100_t: rgba(0,0,0,0.05);
$col_1200_t: rgba(0,0,0,0.1);
$col_1300_t: rgba(0,0,0,0.15);

// Brand
$col_2000: #339933;

// Functional
$col_3000: #993333;