$col_cta: $col_2000;

$col_text: $col_1700;
$col_text_secondary: $col_1500;

$col_module_background: $col_1000;
$col_module_section: $col_1100;
$col_module_border: $col_1100_t;

$col_shadow: $col_1200_t;
$col_shadow_strong: $col_1300_t;

$col_page_background: $col_1000;
$col_page_background_secondary: $col_1000;
$col_divider: $col_1200;

$col_goalkeeping: $col_3000;
$col_defense: $col_3500;
$col_progression: $col_4000;
$col_shot: $col_4500;