// Greyscale
$col_1000: #fff;
$col_1100: #fbfbfb;
$col_1200: #ececec;
$col_1300: #e0e0e0;
$col_1400: #ccc;
$col_1500: #999;
$col_1600: #444;
$col_1700: #222;
$col_1700: #111;
$col_1900: #000;

$col_1100_t: rgba(0,0,0,0.05);
$col_1200_t: rgba(0,0,0,0.1);
$col_1300_t: rgba(0,0,0,0.15);

// Brand
$col_2000: #339933;

// Functional
$col_300: #FAFF00;


$col_100: #1B221A;
$col_110: #192C17;
$col_120: #253522;
$col_180: #aaa;
$col_190: #fff;

$col_200: #339933;
$col_210: #FAFF00;

$col_grad_1: radial-gradient(123.96% 294.46% at 49.83% 50%, #33AC20 0%, rgba(51, 172, 32, 0.864583) 13.54%, #000000 100%);