$col_cta: $col_2000;

$col_text: $col_190;
$col_text_secondary: $col_180;

$col_module_background: $col_120;
$col_module_section: $col_1100;
$col_module_border: $col_1300_t;

$col_shadow: $col_1200_t;
$col_shadow_strong: $col_1300_t;

$col_page_background: $col_110;
$col_page_background_secondary: $col_120;
$col_divider: $col_1200;
$col_field_background: $col_grad_1;

$col_goalkeeping: $col_3000;
$col_defense: $col_3500;
$col_progression: $col_4000;
$col_shot: $col_4500;